@font-face {
  font-family: 'Cinzel Decorative Bold';
  src: url('./cinzel/CinzelDecorative-Bold.otf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Cinzel Regular';
  src: url('./cinzel/Cinzel-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
